input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.tp-input {
  padding: 4px 8px 4px 8px;
  width: 50%;
  text-align: center;
}

::ng-deep .mat-form-field-ripple {
  background-color: #e65400;
}

button:focus {
  outline: 0;
}
