<div *ngxPermissionsOnly="['*', 'L_PROD']">
    <div class="row">
        <div class="col-12">
            <div class="page-title">
                <span class="h1">Create Tag</span>
            </div>
        </div>
    </div>
    <div class="row mb-20">
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label for="">Tag Name</label>
                <input type="text" class="form-control" placeholder="Enter Tag Name"
                    [(ngModel)]="tag.name">
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <!-- Tag status will be implemented later

            <div class="form-group fg1">
                <label class="d-block">Status</label>
                <div class="cutom-switch">
                    <label> Enabled </label>
                    <ui-switch class="switchHolder" [(ngModel)]="tag.is_disabled" color="#e65400" size="small"
                        checkedLabel="on" reverse>
                    </ui-switch>
                    <label> Disabled </label>
                </div>
            </div> -->
        </div>
        <div class="col-12 col-sm-4">
                <div class="button-wrapper text-right mt-20">
                    <button class="btn btn-primary btn-text" (click)="createTag()"><span>Create</span></button>
                </div>
        </div>
    </div>
</div>
