
.cont-list{
    width: 75%;
    /* float: left; */
    padding: 30px 30px;
    background: #fafafa;
}
.form-group.border-view{
    border:1px solid #e1e1e1;
    background:none;
    margin-bottom: 1px;
    padding: 0.5rem 0.75rem;
    min-height: 65px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border-radius: 0.25rem;
}	
.form-group.border-view .form-control {
    display: block;
    width: 100%;
    padding: 0px;
    transition: none;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: inherit;
    background-image: inherit;
    background-clip: inherit;
    border: 0px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px;
}
.wc-date-container[_ngcontent-c5]{
    float: left;
    width: 100%;
    height: 30px;
    border: 0px solid #1565c0 !important;
    margin-bottom: 1px;
    font-size: 16px;
    padding: 5px;
    text-align: left;
    cursor: pointer;
    background:none !important;
    line-height: 20px;
}
.wc-date-container[_ngcontent-c5] > span[_ngcontent-c5] {
    color: #646464;
    font-size: 15px;
}
.form-group.border-view label{ font-size: 18px;
    line-height: normal;
    color: #000;
    margin-bottom: 0px;
}
.cont-list-white{
    width: 75%;
    /* float: left; */
    padding: 20px 30px;
    background: #fff;
}
.form-group.border-view{
   border:1px solid #e1e1e1;
   background:none;
   margin-bottom: 1px;
   padding: 0.5rem 0.75rem;
   min-height: 65px;
   transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
   border-radius: 0.25rem;
 }
	
.cont-list-white button{
   width: 170px;
   margin-left: 20px;
   transform: skew(-10deg) !important;
   float:right;
  }
 
 .cont-list .search-cross-box .crossbtn {
    top: 0;
    right: 50%;
    position: absolute;
    color: #666666;
    text-decoration: none !important;
}

.cont-list .search-cross-box input{width: 50%;}
.dlt-img{    float: right;
    position: absolute;
    right: 0px;
    top: -40px;
	color: #e65400;
    border: 0px solid #e65400;
    background:none;
    transform: skew(-0deg);
    font-size: 15px;
    line-height:normal;
    padding: 0 0px;
    cursor: pointer;
}
.dlt-img img{
width:100%;}
.skewbtn-primary.add-promotion-without-styling{
    color: #e65400;
    border: 0px solid #e65400;
    background:none;
    transform: skew(-0deg);
    font-size: 15px;
    line-height:normal;
    padding: 0 0px;
    cursor: pointer;
    text-decoration: none !important;
    transition: all 0.3s ease;
}

.mb-40{ margin-bottom: 40px;}

.right-box-add-save {
    position: fixed;
    right: 17px;
    top: 125px;
    width: 18%;
    z-index: 110;
    background: #fafafa;
    padding: 20px;
}

.right-box-add-save h3{
    font-size: 28px;
    color: #414141;
	float: left;
    width: 80%;
}
.right-box-add-save span{
	float: right;
    width: 22px;
    margin-top: 5px;
	}
.right-box-add-save span img{
	width: 100%;
}
.right-box-add-save p{  font-size: 13px;
    color: #b7b7b7;
	display: inline-block;
	width: 100%;}
.right-box-add-save button{    width: 48%;    transform: skew(-10deg);}

.input-popup{
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
	margin-bottom:20px;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.button-popup{
    transform: skew(-10deg);	
    margin-left: 20px;
}
.border-4{
height:40px;
border:1px solid #f1a275;}
.border-4 th{

  padding:10px 10px;}
.inner-td td{ padding:5px 10px;}
.btn-popup-add{    color: #e65400;
    border: 0px solid #e65400;
    background: none;
    transform: skew(0deg);
    font-size: 15px;
    line-height:35px;
    padding: 0 0px;
    cursor: pointer;
    text-decoration: none !important;
    transition: all 0.3s ease;}