
<div *ngxPermissionsOnly="['*','U_SIGNUP']">
    <div class="row mb-20">
        <div class="col">
            <label>Name*</label>
            <input type="text" [(ngModel)]="userForm.name" name="name" class="form-control">
        </div>
    
        <div class="col">
            <label>User Name*</label>
            <input type="text" [(ngModel)]="userForm.username" name="username" class="form-control">
        </div>
    </div>
    
    <div class="row mb-20">
        <div class="col">
            <label>Password*</label>
            <input type="password" [(ngModel)]="userForm.password" name="password" class="form-control">
        </div>
        <div class="col">
            <label>Confirm Password*</label>
            <input type="password" [(ngModel)]="userForm.confirmPassword" name="confirmPassword" class="form-control">
        </div>
    </div>
    
    <div class="row mb-20">
    
        <div class="col">
            <label>Phone*</label>
            <input type="text" [(ngModel)]="userForm.phone" name="phone" class="form-control">
        </div>
        <div class="col">
            <label>CNIC</label>
            <input type="text" [(ngModel)]="userForm.cnic" name="cnic" class="form-control">
        </div>
        <div class="col">
            <label>Address</label>
            <input type="text" [(ngModel)]="userForm.address" name="address" class="form-control">
        </div>
    </div>
    <div *ngxPermissionsOnly="['*','C_IMG_S3']">
        <p> User Image </p>
        <div class="upload-file-wrapper mb-20">
            <input type="file" (change)="onFileChange($event,1)" #fileInput placeholder="Upload file..." />
            <button type="button" class="skewbtn-primary" (click)="upload()"><span>Upload</span></button>
        </div>
        <p> Cnic Image </p>
        <div class="upload-file-wrapper mb-20">
            <input type="file" (change)="onFileChange($event,2)" #fileInput placeholder="Upload file..." />
            <button type="button" class="skewbtn-primary" (click)="upload()"><span>Upload</span></button>
        </div>

    </div>
    <div class="row mb-20" *ngxPermissionsOnly="['*','L_ROLES']">
        <div class="col">
            <label>Role*</label>
            <select [(ngModel)]="userForm.role" name="role_id" class="form-control" (change)="selectRole($event.target.value)">
                <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
            </select>
        </div>
        <div class="col"></div>
    </div>
    
    <div class="row mb-20" *ngIf="isCompany">
        <div class="col" *ngxPermissionsOnly="['*','L_ALL_COMP']">
            <label>Select Company*</label>
            <select [(ngModel)]="seletedCompany" class="form-control" (change)="selectOption(seletedCompany,companies,'seletedCompany')">
                <option *ngFor='let company of companies' [value]="company.id">
                    {{company.name}}
                </option>
            </select>
        </div>
        <div class="col"></div>
    </div>
    <div class="row mb-20" *ngIf="isBU">
        <div class="col" *ngxPermissionsOnly="['*','L_BU']">
            <label>Select Business Unit*</label>
            <select class="form-control" [(ngModel)]="seletedBU" (change)="selectOption(seletedBU,businessUnits,'seletedBU')">
                <option *ngFor='let unit of businessUnits' [value]="unit.id">
                    {{unit.name}}
                </option>
            </select>
        </div>
        <div class="col"></div>
    </div>
    <div class="row mb-20" *ngIf="isLocation">
        <div class="col" *ngxPermissionsOnly="['*','L_ALL_LOC']">
            <label>Select Cell*</label>
            <select class="form-control" [(ngModel)]="seletedLoc" (change)="selectOption(seletedLoc,locations,'seletedLoc')">
                <option *ngFor='let location of locations' [value]="location.id">
                    {{location.name}}
                </option>
            </select>
        </div>
        <div class="col"></div>
    </div>
    <div class="chipsContainer">
        <div class="label label-default chips" *ngFor="let option of selectedOptions;let i=index">
          {{option.name}} 
          <i class="fa fa-times-circle pointer" (click)="removeSelectedOption(i)"></i>
        </div>
              
    </div>
    
    <button _ngcontent-c7="" class="btn btn-primary skewbtn-primary" type="button" (click)="createUser(userForm)">Create</button>
</div>
