<div *ngxPermissionsOnly="['*', 'L_LOC_H']">
    <div class="row">
        <div class="col-12">
            <div class="page-title">
                <span class="h1">Location Management</span>
                <button
                    class="btn btn-icon btn-refresh ml-20"
                    *ngxPermissionsOnly="['*', 'L_LOC_H']"
                    (click)="getAllLocations(true)"
                >
                    <span></span>
                </button>
                <button
                    routerLink="/hierarchy/location/create"
                    class="ml-20 skewbtn-secondary"
                    *ngxPermissionsOnly="['*', 'C_LOC']"
                >
                    Create Location
                </button>
            </div>
        </div>
    </div>
    <ngx-loading
        [show]="loading"
        [config]="{ backdropBorderRadius: '14px' }"
    ></ngx-loading>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <div class="custom-table">
                    <ul class="row thead">
                        <li class="col-2"><span>#</span></li>
                        <li class="col-2"><span>Name</span></li>
                        <li class="col-2"><span>Company Name</span></li>
                        <li class="col-2"><span>Business unit Name</span></li>
                        <li class="col-2"><span>Status</span></li>
                        <li class="col-2"><span>Action</span></li>
                    </ul>
                    <ul class="table-body">
                        <li
                            class="row table-row align-items-center"
                            *ngFor="
                                let location of locations
                                    | paginate
                                        : {
                                              id: paginationId,
                                              itemsPerPage: itemsPerPage,
                                              currentPage: currentPage,
                                              totalItems: totalItems
                                          };
                                let i = index
                            "
                        >
                            <div class="col-2 tcell">
                                <span>{{
                                    sharedFunctions.getRowCount(
                                        itemsPerPage,
                                        currentPage,
                                        i
                                    )
                                }}</span>
                            </div>
                            <div class="col-2 tcell">
                                <span>{{ location.name }}</span>
                            </div>
                            <div class="col-2 tcell">
                                <span>{{
                                    location.company
                                        ? location.company.name
                                        : "NONE"
                                }}</span>
                            </div>
                            <div class="col-2 tcell">
                                <span>{{
                                    location.business_unit
                                        ? location.business_unit.name
                                        : "NONE"
                                }}</span>
                            </div>

                            <div class="col-2 tcell">
                                <span>{{
                                    location.disabled ? "Disabled" : "Enabled"
                                }}</span>
                            </div>
                            <div
                                class="col-2 tcell"
                                *ngxPermissionsOnly="['*', 'U_LOC']"
                            >
                                <span
                                    ><button
                                        class="btn btn-icon btn-edit"
                                        (click)="rowClick(i)"
                                    >
                                        <span></span></button
                                ></span>
                            </div>
                            <div
                                class="table-expand-box col-12 table-row-details bundle-details-wrapper"
                                [hidden]="!(activeIndex == i)"
                            >
                                <div class="row">
                                    <div class="col-sm-4 mb-10">
                                        <div class="row">
                                            <div class="col-sm-12 sm-mb-10">
                                                <div class="form-group fg1">
                                                    <label>Name</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        [(ngModel)]="
                                                            location.name
                                                        "
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-sm-12 sm-mb-10">
                                                <div class="form-group fg1">
                                                    <label class="d-block"
                                                        >Status</label
                                                    >
                                                    <div class="cutom-switch">
                                                        <label> Enabled </label>
                                                        <ui-switch
                                                            class="switchHolder"
                                                            [(ngModel)]="
                                                                location.disabled
                                                            "
                                                            color="#e65400"
                                                            size="small"
                                                            checkedLabel="on"
                                                            reverse
                                                        >
                                                        </ui-switch>
                                                        <label>
                                                            Disabled
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 sm-mb-10">
                                                <div class="form-group fg1">
                                                    <label>Warehouse Address</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        [(ngModel)]="
                                                            location.warehouse_address
                                                        "
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 mb-10">
                                        <div class="row">
                                            <div class="col-sm-12 sm-mb-10">
                                                <div class="form-group fg2">
                                                    <label
                                                        >Service Charge Type</label
                                                    >
                                                    <select
                                                        [(ngModel)]="
                                                            location.service_charge_type
                                                        "
                                                        name="service_charge_type"
                                                        class="form-control"
                                                    >
                                                        <option [value]="'FLAT'">
                                                            Flat
                                                        </option>
                                                        <!-- <option [value]="'PERCENTAGE'">Percentage</option> -->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 sm-mb-10">
                                                <div class="form-group fg2">
                                                    <label
                                                        >Service Charge Value</label
                                                    >
                                                    <input
                                                        type="number"
                                                        placeholder="0.00"
                                                        class="form-control"
                                                        [(ngModel)]="
                                                            location.service_charge_value
                                                        "
                                                        (change)="
                                                            checkPositive(
                                                                'service_charge_value',
                                                                i
                                                            )
                                                        "
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-12 sm-mb-10">
                                                <div class="form-group fg2">
                                                    <label
                                                        >Delivery Charge Type</label
                                                    >
                                                    <select
                                                        [(ngModel)]="
                                                            location.delivery_charge_type
                                                        "
                                                        name="delivery_charge_type"
                                                        class="form-control"
                                                    >
                                                        <option [value]="'FLAT'">
                                                            Flat
                                                        </option>
                                                        <!-- <option [value]="'PERCENTAGE'">Percentage</option> -->
                                                    </select>
                                                </div>
                                                <div class="col-sm-12 sm-mb-10">
                                                    <div class="form-group fg2">
                                                        <label
                                                            >Delivery Charge
                                                            Value</label
                                                        >
                                                        <input
                                                            type="number"
                                                            placeholder="0.00"
                                                            class="form-control"
                                                            [(ngModel)]="
                                                                location.delivery_charge_value
                                                            "
                                                            (change)="
                                                                checkPositive(
                                                                    'delivery_charge_value',
                                                                    i
                                                                )
                                                            "
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 sm-mb-10">
                                            <div class="form-group">
                                                <label>Minimum Order Limit</label>
                                                <input type="number" min="0"
                                                    onkeydown="return (event.keyCode !== 8)?(/[0-9.]/g.test(event.key)):true"
                                                    class="form-control" [(ngModel)]="location.min_order_limit" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3 sm-mb-10">
                                            <div class="form-group">
                                                <label>Maximum Order Limit</label>
                                                <input type="number" min="0"
                                                    onkeydown="return (event.keyCode !== 8)?(/[0-9.]/g.test(event.key)):true"
                                                    class="form-control" [(ngModel)]="location.max_order_limit" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3 sm-mb-10">
                                            <div class="form-group">
                                                <label>Priority</label>
                                                <input
                                                    type="number"
                                                    placeholder="0"
                                                    class="form-control"
                                                    [(ngModel)]="
                                                        location.priority
                                                    "
                                                    (change)="
                                                        checkPositive(
                                                            'priority',
                                                            i
                                                        )
                                                    "
                                                />
                                            </div>
                                        </div>
                                        <div class="col-sm-3 sm-mb-10">
                                            <div class="form-group">
                                                <label>Free Delivery Limit</label>
                                                <input type="number" min="0"
                                                    onkeydown="return (event.keyCode !== 8)?(/[0-9.]/g.test(event.key)):true"
                                                    class="form-control" [(ngModel)]="location.free_delivery_limit" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 mb-10">
                                        <div class="uploadedImage mb-20">
                                            <img
                                                src="{{ location.image_url }}"
                                                class="mb-10"
                                            />
                                            <div class="upload-file-wrapper">
                                                <input
                                                    *ngIf="!imageFileName"
                                                    type="file"
                                                    class="mb-10"
                                                    (change)="
                                                        onFileChange($event)
                                                    "
                                                    #fileInput
                                                    placeholder="Upload Image..."
                                                    class="uploadFileshere"
                                                />
                                                <div *ngIf="imageFileName">
                                                    <label>
                                                        <div>
                                                            {{ imageFileName }}
                                                            <i
                                                                class="removeFile fa fa-close"
                                                                (click)="
                                                                    removeFile()
                                                                "
                                                                style="
                                                                    font-size: 20px;
                                                                    color: red;
                                                                "
                                                            ></i>
                                                        </div>
                                                    </label>
                                                </div>
                                                <button
                                                    type="button"
                                                    class="btn btn-secondary btn-text"
                                                    (click)="uploadFile(i)"
                                                >
                                                    <span>Upload</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <!-- <div class="row">
                                    <div class="store-timings col-12">
                                        <store-timing
                                            [location]="location"
                                        ></store-timing>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="row">
                                    <div class="store-timings col-12">
                                        <events-timing
                                            [location]="location"
                                        ></events-timing>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-12">
                                        <div
                                            class="buttons-wrapper text-right mt-20"
                                        >
                                            <button
                                                class="skewbtn-secondary"
                                                (click)="rowClick(i)"
                                            >
                                                <span>Cancel</span>
                                            </button>
                                            <button
                                                class="skewbtn-primary"
                                                (click)="updateLocation(i)"
                                            >
                                                <span>Update Location</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls
        class="mt-30"
        (pageChange)="pagination($event)"
        id="{{ paginationId }}"
        autoHide="{{totalItems<itemsPerPage}"
    >
    </pagination-controls>
</div>
