<div *ngxPermissionsOnly="['*','L_RETAILERS_BY_APP']">
  <div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="page-title">
        <span class="h1">Push Notifications</span>
        <button class="btn btn-icon btn-refresh ml-20" (click)="refresh()"><span></span></button>
        <button *ngxPermissionsOnly="['*', 'L_ALL_COMP']" (click)="openNotificationPopover(notificationSelection)" class="ml-20 skewbtn-secondary">SELECT NOTIFICATION</button>
      </div>
    </div>
  </div>

  <div class="row mb-20">
    <div class="col-sm search-cross-box">
      <input type="text" [(ngModel)]="search" (keyup.enter)="searchRetailers()" placeholder="Search By Phone"
        class="form-control">
      <button class="btn btn-link fa fa-times crossbtn" (click)="undoRetSearch()"></button>
    </div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
  </div>

  <div class="row mb-20">
    <div class="col mt-10">
      <input type="file" id="file_upload_field" #fileInput placeholder="Upload file..." class="form-control" (change)="onChange($event)" />
    </div>
    <div class="col mt-10">
      <button type="button" class="skewbtn-primary" (click)="clearFile()">
        Clear File
      </button>
    </div>
  </div>

  <div class="row all-orders">
    <div class="col-6 col-lg-2" *ngxPermissionsOnly="['*', 'L_ALL_COMP']">
      <div class="form-group">
        <label for="">Select Company</label>
        <select [(ngModel)]="companyId" class="form-control" (change)="getApps()">
          <option *ngFor='let company of companies' [value]="company.id">
            {{company.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-6 col-lg-2">
      <div class="form-group">
        <label for="">Select App</label>
        <select class='select-option' [(ngModel)]="selectedAppId" class="form-control" (change)="appChanged(selectedAppId)">
          <option *ngFor='let app of apps' class='option' [value]="app.id">{{app.name}}</option>
        </select>
      </div>
    </div>
    <div [hidden]="is_customer" class="col-6 col-lg-2" *ngxPermissionsOnly="['*', 'L_BU']">
      <div class="form-group">
        <label for="">Select Business Unit</label>
        <select [(ngModel)]="selectedBusinessUnitId" class="form-control" (change)="getlocations()">
          <option class='option' [value]="''">All</option>
          <option *ngFor='let bu of businessUnits' [value]="bu.id">
            {{bu.name}}
          </option>
        </select>
      </div>
    </div>
    <div [hidden]="is_customer" class="col-6 col-lg-2" *ngxPermissionsOnly="['*','L_ALL_LOC']">
      <div class="form-group">
        <label for="">Select Cell</label>
        <select [(ngModel)]="selectedLocationId" class="form-control">
          <option class='option' [value]="''">All</option>
          <option *ngFor='let location of locations' [value]="location.id">
            {{location.name}}
          </option>
        </select>
      </div>
    </div>
    <div class=" col-6 col-lg-4">
      <button class="skewbtn-primary mt-10" (click)="getData(true)">GO</button>
    </div>
  </div>
  <div class="row" [hidden]="loading">
    <div class="col-12">
      <div class="table-responsive">
        <div class="custom-table">
          <ul class="row thead">
            <li class="col-1"><span>#</span></li>
            <li class="col-1"><span><input type="checkbox" [(ngModel)]="allChecked"
              (change)="toggleAllSelection()" id="select-all-option" /></span>
            </li>
            <li class="col-1"><span>ID</span></li>
            <li class="col-3"><span>Name</span></li>
            <li class="col-3"><span>Phone</span></li>
            <li class="col-3"><span>{{is_customer?'Company':"UserName"}}</span></li>
          </ul>
          <ul class="table-body">
            <li class="row table-row bb align-items-center" *ngFor="let retailer of retailers| paginate
              : {
                  id: paginationId,
                  itemsPerPage: itemsPerPage,
                  currentPage: currentPage,
                  totalItems: totalItems
                };
              let i = index
            ">
              <div class="col-1 tcell">
                <span>{{ retailer.rowCount }}</span>
              </div>
              <div class="col-1 tcell">
                <span>
                  <input type="checkbox" [(ngModel)]="retailer.checked" 
                  (change)="selectionChanged()" 
                  name="checkbox_{{retailer.rowCount}}" id="checkbox_{{retailer.rowCount}}" />
                </span>
              </div>
              <div class="col-1 tcell">
                <span>{{ retailer.id }}</span>
              </div>
              <div class="col-3 tcell">
                <span>{{ retailer.name }}</span>
              </div>
              <div class="col-3 tcell">
                <span>{{ retailer.phone }}</span>
              </div>
              <div class="col-3 tcell">
                <span>{{is_customer?retailer.company_name:retailer.email}}</span>
              </div>
            </li>
            <pagination-controls class="mt-30" (pageChange)="pagination($event)" id="{{ paginationId }}" autoHide="{{totalItems<itemsPerPage}">
            </pagination-controls>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #notificationSelection let-c="close" let-d="dismiss">
  <div class="help-popup padding20">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div class="pull-right">
          <a class="crossSignPopup"><span aria-hidden="true" (click)="closeNotificationSelection(0)">&times;</span></a>
        </div>
      </div>
    </div>
    <notification-selection (closeNotificationSelection)="closeNotificationSelection($event)" [companyId]="companyId"></notification-selection>
  </div>
</ng-template>