/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "custom";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.table-expand-box{
    padding-right: 50px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
