

<div class="row">
    <div class="col-12">
        <div class="page-title">
            <span class="h1">Location {{selectedLocationIndex!=''?' ID: '+locations[selectedLocationIndex].id:''}}</span>
            <button class="btn btn-icon btn-refresh ml-20" (click)="undo()">
                <span></span>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col" *ngxPermissionsOnly="['*', 'L_BU']">
        <div class="form-group">
            <label for="exampleInputPassword1">Select Business Unit :</label>
            <select [(ngModel)]="selectedBusinessUnitId" (change)="getlocations()" class="form-control">
                <option class='option' [value]="''">All</option>
                <option *ngFor='let bu of businessUnits' [value]="bu.id">
                    {{bu.name}}
                </option>
            </select>
        </div>
    </div>

    <div class="col" *ngxPermissionsOnly="['*', 'L_ALL_LOC']">
        <div class="form-group">
            <label for="">Select Cell</label>
            <select [(ngModel)]="selectedLocationIndex" class="form-control" (change)="changeLocation()">
                <option class='option' [value]="''">All</option>
                <option *ngFor='let location of locations; let i = index' [value]="i">
                    {{location.name}}
                </option>
            </select>
        </div>
    </div>
</div>
<agm-map [zoom]="8" [hidden]="selectedLocationIndex=='' || isRetailo" [latitude]="latitude" [longitude]="longitude"
    (mapClick)="onMapClick($event)">
    <agm-circle *ngFor="let data of circle" [latitude]="data.lat" [longitude]="data.lng" [circleDraggable]="true"
        [editable]="true" (radiusChange)="changeRadius($event)" (centerChange)="centerChange($event)"
        [fillColor]="data.color" [radius]="data.radius"> </agm-circle>
</agm-map>

<agm-map [zoom]="8" [hidden]="selectedLocationIndex=='' || !isRetailo" [latitude]="latitude" [longitude]="longitude"
    (mapReady)="onMapReady($event)">
</agm-map>
<button [hidden]="selectedLocationIndex=='' || !isRetailo || !polygonService.selectedShape"
(click)="polygonService.deleteSelectedShape()">
Redraw Shape
</button>
<polygon-points [hidden]="selectedLocationIndex=='' || !isRetailo" 
[points] = "polygonService.pointList"
(redrawPolygon) = "pointsUpdated($event)"
></polygon-points>
<button *ngxPermissionsOnly="['*', 'U_LOC']" (click)="updateCircle()" [hidden]="selectedLocationIndex==''">
    Update</button>